<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        body { font-family: Arial; background: #f4f4f4; }
        .container {
            width: 300px; margin: 100px auto;
            padding: 20px; background: #fff;
            border-radius: 8px; box-shadow: 0 0 10px #ccc;
        }
        input, button {
            width: 80%; padding: 10px; margin: 8px 0;
        }
        button { background: #007bff; color: #fff; border: none; }
        a { text-decoration: none; color: #007bff; }
    </style>
</head>
<body>

<div class="container">
    <h2>Login</h2>
    <!--Error block-->
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
       <!--message block-->
    {% if message %}
        <p style="color: green;">{{ message }}</p>
    {% endif %}
    <form action="/submit" method="POST">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password"  placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/register">Register</a></p>
</div>

</body>
</html>